page-home {

}
.btn-gr-beneficio{
  margin-bottom: 12px;
}
/*buttons*/
.scan-code{
  border-radius: 5px;
  padding: 30px;
    margin: 0 auto;
}
.gr-beneficio{
  padding: 30px;
  border-radius: 5px;
  margin: 0 auto;
  width: 95%;
}