<ion-header>
  <ion-navbar>
    <ion-title>
      <h3>SGP - Beneficiados</h3>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button class="scan-code" ion-button full icon-left (click)="scanCode()" color="dark">
    <ion-icon name="qr-scanner"></ion-icon>LER QRcode</button>

  <ion-card *ngIf="scannedCode">
    <ion-card-content>
      <h5>Nome do aluno: <strong>{{ scannedCode['name'] }}</strong></h5>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="scannedCode">
    <ion-card-content>
      <h5>Material Disponível</h5>
      <ul>
        <li>Camisa</li>
        <li>Bermuda</li>
        <li>Chuteira</li>
        <li>Bola</li>
        <li>Mochila</li>
      </ul>
    </ion-card-content>
    <div class="btn-gr-beneficio">
      <button class="gr-beneficio" ion-button full icon-left (click)="gerarBeneficios()">
        <ion-icon name="cloud-download"></ion-icon>Gerar Benefícios</button>
    </div>
  </ion-card>

</ion-content>

<ion-footer>
  <ion-toolbar>
  </ion-toolbar>
</ion-footer>