<ion-header>
  <ion-navbar>
    <ion-title>
      <h3>SGP - Beneficiados</h3>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!-- <ion-item> -->
    <!-- <ion-input type="text" placeholder="Please enter with text..." [(ngModel)]="qrData">
    </ion-input> -->
  <!-- </ion-item> -->
  <!-- <button ion-button full icon-left (click)="createCode()"> -->
  <!-- <ion-icon name="barcode"></ion-icon>Create Code</button> -->
  <button ion-button full icon-left (click)="scanCode()" color="secondary">
    <ion-icon name="qr-scanner"></ion-icon>LER QRcode</button>

  <ion-card *ngIf="scannedCode">
    <ion-card-content>
     {{ scannedCode }}
    </ion-card-content>
  </ion-card>

  <button class="gr-beneficio" ion-button full icon-left (click)="scanCode()">
    <ion-icon name="cloud-download" ></ion-icon>Gerar Benefícios</button>

  <ion-card *ngIf="createdCode">
    <ngx-qrcode [qrc-value]="createdCode"></ngx-qrcode>
    <ion-card-content>
      <!-- <p>Value: {{ createdCode }}</p> -->
    </ion-card-content>
  </ion-card>


</ion-content>